body {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    background: #fff;
    line-height: 1.3;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-width: 1170px;
    box-sizing: border-box;
    padding: 0 15px;
}

/**Header**/
.header {
    background: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    font-size: 18px;
    display: flex;
    width: 100%;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: space-between;
    padding: 0;
    position: relative;
    z-index: 999;
    -webkit-box-shadow: 24px 30px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 24px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 30px 0 rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
}
.logo {
    display: inline-block;
    position: relative;
    width: 134px;
    padding: 43px 0 0;
    background: url(../uploads/logo-header.png) 18px 11px no-repeat;
}

.menu-button {
    color: black;
    display: block;
    font-size: 24px;
}
.menu-button:hover,
.menu-button:active,
.menu-button:focus {
    color: #36aeea;
    transform-origin: center center;
    transform: rotate(180deg);
    transition: all .5s;
}
.menu-button {
    font-size: 42px;
    line-height: 70px;
}

.menu {
    float: right;
    position: relative;
}
.menu:hover .header-nav {
    display: block;
    z-index: 1;
}
.header-nav {
    position: absolute;
    background: rgba(52, 115, 136, 0.8);
    top: 62px;
    right: -15px;
    width: 150px;
    text-align: center;
    display: none;
    padding: 0;
    margin: 8px 0 0;
}
.header-nav .menu-btn {
    display: inline-block;
    width: 100%;
    color: #000000;
    padding: 25px 0;
    margin-right: 21px;
}
.header-nav .menu-btn:hover {
    background: rgba(255, 255, 255, 0.75);
}

.popup-btn {
    display: inline-block;
    color: #36aeea;
    border: 1px solid #36aeea;
    padding: 12px 3.5%;
    border-radius: 3px;
    margin-top: 2px;
}
.popup-btn:hover,
.popup-btn:focus,
.popup-btn:active {
    background: #36aeea;
    color: #fff;
}

/**sticky-header**/
header.sticky {
    background: #95a5ad;
    position: fixed;
    color: #fff;
    opacity: 1;

}
header.sticky .popup-btn {
    border-color: #fff;
    color: #fff;
}
header.sticky > .header-nav .menu-btn {
    color: #fff;
}
header.sticky > .header-nav .menu-btn:focus {
    border-bottom: 2px solid #fff;
}
header.sticky .logo {
    background: url(../uploads/logo-sticky-header.png) 18px 11px  no-repeat;
}
/**Promo**/
/*.slider-blocks {*/
    /*padding: 349px 0;*/
    /*background: url(../uploads/promo-bg.jpg) center center/cover no-repeat;*/
/*}*/
.slider-blocks img {
    width: 100%;
    height: auto;
}
/**Gallery**/
.gallery-block {
    padding: 9% 0 62px;
}
.title h2 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 4%;
}
.gallery a {
    display: block;
    max-width: 360px;
    width: 100%;
    height: auto;
    margin: 15px 0;
}
.gallery img {
    width: 100%;
    height: auto;
}
/**Logotype**/
.logos-block {
    background: #f8f9fa;
    padding: 67px 0 61px;

}
.logos-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
}
.logos-block a {
    display: block;
    max-width: 165px;
    height: 50px;
}
.logos-block img {
    width: auto;
    height: auto;

}
/**Reviews and footer**/
.reviews {
    padding: 9% 0 0;
}
.bg-footer1 {
    width: 100%;
    padding: 229px 0;
    background: url(../uploads/footer-bg1.png) center center no-repeat;
    margin-top: -828px;

}
.bg-footer2 {
    width: 100%;
    padding: 496px 0;
    background: url(../uploads/footer-bg2.png) center center no-repeat;
    margin-top: -461px;
}
.reviews-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 8%;
}
.reviews-wrap:first-child {
    margin-bottom: 45px;
}
.reviews-box {
    width: 555px;
}
.quote-text {
    color: #bcbcbc;
    margin: 10px 0 25px;
    line-height: 2.1;
}
.quotes {
    display: block;
    background: url(../uploads/quote-icon.png) no-repeat;
    width: 24px;
    height: 22px;
}
.quote-img {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
}
.quote-img img {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: auto;
}
.quote-name {
    color: #36aeea;
    padding: 19px 0 0 84px;
    display: inline-block;
    font-weight: 600;
}
.quote-name::after {
    font-weight: 300;
    color: inherit;
}
.name1::after {
    content: "Web designer";
}
.name2::after {
    content: "The Fringe";
}
/**Form**/
.contact-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 162px;
}
.contact {
    width: 514px;
    text-align: center;
    align-self: center;
    border-radius: 6px;
    display: inline-block;
    padding: 31px 0 40px;
    background: #d3d8dc;
    background: -moz-linear-gradient(top, #d3d8dc 0%, #799fa8 100%);
    background: -webkit-linear-gradient(top, #d3d8dc 0%, #799fa8 100%);
    background: linear-gradient(to bottom, #d3d8dc 0%, #799fa8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d8dc', endColorstr='#799fa8', GradientType=0);
}
.contact-inner {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
}
.contact h2 {
    font-size: 36px;
    color: #36aeea;
    font-weight: 600;
    text-transform: uppercase;
}
#registr-form {
    margin-top: 27px;
}
.input {
    width: 100%;
    border-radius: 4px;
    border: none;
    margin: 10px 0;
    padding: 20px;
}
.btn-send {
    font-weight: 600;
    text-transform: uppercase;
    padding: 26px 0;
    background: #36aeea;
    color: #fff;
}
.popup-wrap {
    background: rgba(0, 0, 0 , 0.5);
    height: 100vh;
    width: 100%;
    display: none;
    z-index: 9999;
    position: fixed;
    top:0;
    left:0;
}
.popup {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.popup {
    display: block;
    width: 490px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.contact {
    overflow: hidden;
}
.popup-close {
    width: 100%;
    height: 100vh;
    z-index: 9955;

}
.contact-wrap-popup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 91px;
}
/**Media**/
@media screen and (min-width: 400px) {
    .popup-btn {
        display: inline-block;
    }
}
@media screen and (min-width: 767px) {
    .gallery {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 50px;
    }

}

@media screen and (min-width: 720px) {
    .logos-wrap {
        justify-content: space-between;
    }
}
@media screen and (min-width: 756px) {
    .header {
        padding: 24px 0 19px;
    }
    .header-nav {
        display: block;
        position: static;
        background: inherit;
        width: 100%;
        padding: 6px 6px 0 0;
        margin: 0 0 0 39px;
    }
    .header-nav .menu-btn {
        display: inline;
        padding: 15px 0 6px;
    }
    .logo img {
        position: absolute;
        top: 10px;
        left: 19px;
        width: 117px;
        height: 27px;
    }
    .menu {
        float: left;
        position: relative;
        padding: 11px 0 0 3px;
    }
    .menu-button {
        display: none;
    }
    .logo {
        float: left;

    }
    .popup-btn {
        float: right;
        padding: 12px 50px;
        border: 3px solid #36aeea;
    }
    .menu:hover .header-nav {
        display: inline-block;
        z-index: 1;
    }
    .header-nav .menu-btn {
        color: #95a5ad;
    }
    .header-nav .menu-btn:hover,
    .header-nav .menu-btn:focus,
    .header-nav .menu-btn:active {
        background: inherit;
        border-bottom: 2px solid #36aeea;
    }
    .header {
        font-size: 12px;
    }
    .reviews-wrap:first-child {
        margin-bottom: 0;
    }
    header.sticky {
        background: #95a5ad;
        position: fixed;
        color: #fff;

    }
    header.sticky > .popup-btn {
        border-color: #fff;
        color: #fff;
    }
    header.sticky  .header-nav .menu-btn {
        color: #fff;
    }
    header.sticky  .header-nav .menu-btn:focus {
        border-bottom-color: #fff;
    }
}

@media screen and (min-width: 768px){
    .gallery {
        justify-content: space-around;
    }
}

@media screen and (min-width: 830px) {
    .header-nav {
        display: block;
        position: static;
        background: inherit;
        width: 100%;
    }
    .header-nav .menu-btn {
        display: inline;
    }
    .menu {
        float: left;
        position: relative;
        padding: 11px 0 0 3px;
    }
    .logo {
        float: left;

    }
    .popup-btn {
        position: absolute;
        right: 15px;
        top: 0;
    }
    .menu:hover .header-nav {
        display: inline-block;
        z-index: 1;
    }
    .header {
        position: absolute;
    }
}

@media screen and (min-width: 1128px){
    .gallery {
        justify-content: space-between;
    }
}